@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
font: 400 15px'Roboto', sans-serif;
color: #07075ce1;
     }
/*.info{
      font-weight: 900;
      letter-spacing: 2px;
      font-style: italic;
      color: #160a2a;
     }    
.info-text {
     font-weight: 900;
     letter-spacing: 2px;
     font-style: italic;
     color: #120429;
}*/